<ion-view view-title="Stocks">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.trackStocks">
       Turn on Stock Tracking
    </ion-toggle>
    <ion-toggle  ng-model="settings.trackStocks">
       Turn on Auto Updates
    </ion-toggle>
    <ion-toggle  ng-model="settings.facialRecognition">
       Turn on Facial Recognition
    </ion-toggle>
    <p>
    Stock Results
    </p>
    <p>
    Updated results
    </p>
    <p>
    Tallied results
    </p>
    <p>
    Broadcast chat results
    </p>
    </ion-list>
  </ion-content>
</ion-view>
